@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    background-image: url("https://wallpapercave.com/wp/xSdlUYs.jpg");
    font-family: 'Anton', sans-serif;

}
p{
    color: white;
}
li{
    list-style: none;
    cursor: pointer;
}
